html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050505;
  color: #ffffff;
}

#root {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}
